# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Macro output
core_dump*
*.par

# Subversion files
.svn
*/.svn/*

# event output
macro/littrack/events*
macro/littrack/test*
macro/littrack/*.csv
macro/littrack/all_*
macro/littrack/core_dump_*

# Eclipse settings
.DS_Store
.cproject
.project
.settings/*

# Fieldmaps
input/fieldmap*

# Build
build

# image output
*.png
*.pdf
*.eps
*.ps
*.html
*.tex
